@charset "UTF-8";
#home {
	height: 700px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.a01 {
	-webkit-transform: scale(0.8) ;
	transform:scale(0.8);
	-o-transform:scale(0.8);
	-ms-transform:scale(0.8);
	opacity:0.8;
}
.a01:hover {
	-webkit-transform: scale(1) rotate(10deg);
	transform:scale(1) rotate(10deg);
	-o-transform:scale(1) rotate(10deg);
	-ms-transform:scale(1) rotate(10deg);
	opacity:1;
}
